html {
    background-color: #F8F8F8; /* 简洁浅灰背景 */
    background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
    font-family: sans-serif;
}

body {
    margin: 0;
    width: 100%;
    padding: 0;
    line-height: 1.5;
    color: #333; /* 默认文字颜色 */
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}




/* 导航样式 */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}



html.dark {
    background-color: #1A1A2E; /* 简洁深色背景 */
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
    color: #fff;
}

html.dark body,
html.dark h1 {
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}



