---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="zh-CN">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <meta name="viewport" content="width=device-width"/>
        <meta name="generator" content={Astro.generator}/>
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header/>
        <main class="main-content">
            <h1>{pageTitle}</h1>
          <slot />
        </main>
        <Footer/>
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>

<style>
  .main-content {
    max-width: 80ch; /* 限制内容最大宽度 */
    margin: 0 auto; /* 居中显示 */
    padding: 2rem 1rem;
  }

  .main-content h1 {
    text-align: center; /* 居中标题文本 */
    margin-bottom: 2rem; /* 增加标题下边距 */
  }

  @media (min-width: 768px) {
    .main-content {
      padding: 3rem 2rem;
    }
  }
</style>